.logo {
	position: relative;
	margin: 200px;
	margin-left:350px;
}
#mainlogo {
	width:10;
	height:7;
}
.navbar {
    margin-top:-200px; padding:0;
	float:right;

}
ul {
	list-style-type:none;
}
li {
	display:inline;
	color:blue;
	text-decoration:underline;
	padding-left:10px; padding-right:10px;
}
#border {
	position:relative;
	border:2px solid blue;
	width:400px; height:25px;
	margin-bottom:40px;
	margin-right:250px;
	padding-left:125px;
	padding-right:20px;

}
.footer{
	clear:both;
	position:absolute;
	width:2000px; height:50px;
	background-color: #ebebeb;
	padding:0; margin-left:-50px;
}
.submit {
	
	position:absolute;
	width:150px;height:50px;
	display:inline;
}
p {
	border:1px solid black;
   font-size:20px;
   font-family:Verdana;
   background-color: #ebebeb;
   width:80px;
   padding:8px; margin-top:0px; margin-left:220px;



}